# Aula 3 - Numpy e Pandas

Nessa aula, iremos tratar dos seguintes conteúdos:
- Numpy Matrizes
- Métodos de Matrizes Numpy
- Pandas
- Series
- Métodos Pandas
- DataFrames
- Trabalhando com CSVs

<img src="" width=800>

## Pandas

__Pandas__ é um pacote python construído com base no __NumPy__ e __Matplotlib__ que busca organizar dados no formato de tabela, atribuindo rótulos às linhas e colunas. O pacote __Pandas__ fornece ainda um conjunto de funcionalidades que permite processar as informações de tabelas de forma bastante eficiente, implementando métodos fundamentais para fins de tratamento de dados.

O Pandas organiza os dados nos seguintes tipos de estruturas:
- Series (Séries)
- DataFrame

 O __Pandas__ é um pacote e para utilizarmos, devemos importá-lo para o nosso notebook da seguinte forma:

In [80]:
import pandas as pd
import numpy as np

##

### Series
A estrutura de representação tipo __Series__ do __Pandas__ é semelhante a um array unidimensional, porém os elementos podem ser indexados por números inteiros (como em um array do NumPy) ou por meio de rótulos (labels) que não precisam ser únicos e podem ser organizados de forma hierárquica.
- Quando os índices ou rótulos não são informados explicitamente, Pandas cria uma indexação com números inteiros automaticamente, variando os índices de $0$ (zero) a $n-1$, onde $n$ é o número de elementos na série.
- Os rótulos são usados para realizar buscas rápidas, alinhamento de dados e operações de junção de dados.

#### Criando séries com Pandas
Séries podem ser criadas no Pandas de diferentes formas, a partir de:
- Listas ou Arrays
- Dicionários
- DataFrames

### Utilizando Listas ou Arrays

In [81]:
lista = [12,14,34,434,12,56,1,434]

serie = pd.Series(lista)
serie

0     12
1     14
2     34
3    434
4     12
5     56
6      1
7    434
dtype: int64

Agora vamos criar uma Serie a partir de um __np.array__:

In [82]:
array = np.array([12,14,34,434,12,56,1,434])
array

array([ 12,  14,  34, 434,  12,  56,   1, 434])

In [83]:
series = pd.Series(array)
series

0     12
1     14
2     34
3    434
4     12
5     56
6      1
7    434
dtype: int64

In [84]:
serie_str = pd.Series(["a", "b", "c", "d", "e"])
serie_str

0    a
1    b
2    c
3    d
4    e
dtype: object

### Utilizando Dicionários

In [85]:
dicionario = {"tomate": 3.5, "agua": 1.5, "coca": 7.5}
serie_dicio = pd.Series(dicionario)
serie_dicio # aqui a chave do dicionário será o índice

tomate    3.5
agua      1.5
coca      7.5
dtype: float64

In [86]:
dicionario.keys()

dict_keys(['tomate', 'agua', 'coca'])

In [87]:
dicionario.values()

dict_values([3.5, 1.5, 7.5])

In [88]:
serie_dicio.values

array([3.5, 1.5, 7.5])

In [89]:
serie_dicio.index

Index(['tomate', 'agua', 'coca'], dtype='object')

##

### Indexação

Assim como para os arrays, conseguimos acessar diversos elementos da __Serie__ a partir dos __índices:__

In [90]:
series

0     12
1     14
2     34
3    434
4     12
5     56
6      1
7    434
dtype: int64

In [91]:
series[0]
# print(type(series[0]))

np.int64(12)

Da mesma forma, conseguimos fazer o __Slicing__ em uma __Serie__:

In [92]:
series[2:6]

2     34
3    434
4     12
5     56
dtype: int64

##

### Labels

Uma característica especial das __Series__ é que podemos escolher quais os __índices__ que queremos atribuir para cada um dos elementos e acessá-los a partir da __nova identifcação__ deles:

In [93]:
print(lista)
lista_index = ["a", "b", "c", "d", "f", "g", "h", "i"]
print(lista_index)

serie_indexada = pd.Series(index=lista_index, data=lista)
print(serie_indexada)

[12, 14, 34, 434, 12, 56, 1, 434]
['a', 'b', 'c', 'd', 'f', 'g', 'h', 'i']
a     12
b     14
c     34
d    434
f     12
g     56
h      1
i    434
dtype: int64

##

### Operações Matemáticas

De maneira análoga ao que fizemos usando os __arrays__, pode-se fazer qualquer tipo de manipulação matemática utilizando as __Series__:

In [94]:
dicionario = {"tomate": 3.5, "agua": 1.5, "coca": 7.5}
serie_dicio = pd.Series(dicionario)
serie_dicio # aqui a chave do dicionário será o índice

tomate    3.5
agua      1.5
coca      7.5
dtype: float64

In [95]:
serie_dicio + 10 # soma 10 em cada valor

tomate    13.5
agua      11.5
coca      17.5
dtype: float64

In [96]:
serie_dicio * 10 # multipilca cada valor por 10

tomate    35.0
agua      15.0
coca      75.0
dtype: float64

##

## Métodos Pandas

Justamente pela biblioteca __Pandas__ utilizando do NumPy para a construção da sua arquitetura, muito dos métodos que são nativos do NumPy também vão funcionar com o __Pandas__, além de alguns novos métodos que veremos a seguir:

In [97]:
notas = np.random.randint(0, 100, 30)
notas

array([32,  9, 13, 64, 75, 53,  6, 91,  0, 81, 63, 46, 59, 21, 45, 39, 64,
       66, 27, 82, 53,  7, 53, 92, 72, 86,  9, 91, 57,  9], dtype=int32)

In [98]:
serie_notas = pd.Series(notas)

__sort_values__: este método ordena a Serie de acordo com os valores númericos dos elementos:

In [99]:
serie_notas.sort_values()

8      0
6      6
21     7
1      9
26     9
29     9
2     13
13    21
18    27
0     32
15    39
14    45
11    46
5     53
22    53
20    53
28    57
12    59
10    63
3     64
16    64
17    66
24    72
4     75
9     81
19    82
25    86
7     91
27    91
23    92
dtype: int32

__unique:__ este método retorna todos os __valores distintos__ dentro de uma __Serie__:

In [100]:
serie_notas.unique()

array([32,  9, 13, 64, 75, 53,  6, 91,  0, 81, 63, 46, 59, 21, 45, 39, 66,
       27, 82,  7, 92, 72, 86, 57], dtype=int32)

__nunique:__ este método retorna a quantidade de __valores distintos__ dentro de uma __Serie__:

In [101]:
serie_notas.nunique()

24

__value_counts:__ este método retorna as __frequências (contagens)__ para cada um dos __elementos distintos__ dentro de uma Serie:

In [102]:
serie_notas.value_counts()

9     3
53    3
91    2
64    2
13    1
32    1
75    1
6     1
0     1
81    1
63    1
46    1
59    1
21    1
45    1
39    1
66    1
27    1
82    1
7     1
92    1
72    1
86    1
57    1
Name: count, dtype: int64

In [103]:
serie_notas.value_counts(normalize=True)

9     0.100000
53    0.100000
91    0.066667
64    0.066667
13    0.033333
32    0.033333
75    0.033333
6     0.033333
0     0.033333
81    0.033333
63    0.033333
46    0.033333
59    0.033333
21    0.033333
45    0.033333
39    0.033333
66    0.033333
27    0.033333
82    0.033333
7     0.033333
92    0.033333
72    0.033333
86    0.033333
57    0.033333
Name: proportion, dtype: float64

In [104]:
# histograma

serie_notas.value_counts(normalize=True, bins=5)

(-0.093, 18.4]    0.233333
(73.6, 92.0]      0.233333
(55.2, 73.6]      0.233333
(36.8, 55.2]      0.200000
(18.4, 36.8]      0.100000
Name: proportion, dtype: float64

In [105]:
serie_notas.value_counts(normalize=True, bins=5).mul(100).round(2).astype(str) + "%"

(-0.093, 18.4]    23.33%
(73.6, 92.0]      23.33%
(55.2, 73.6]      23.33%
(36.8, 55.2]       20.0%
(18.4, 36.8]       10.0%
Name: proportion, dtype: object

Podemos também ao invés de retorna as frequências, retornar as __proporções__ de cada um dos __elementos distintos__:

A seguir teremos alguns outros métodos já conhecidos do __NumPy__ que retorna algumas estatísticas básicas para a Serie:

__describe:__ este é um método muito útil que vai trazer um resumos das __principais estátisticas__ da Serie que estamops trabalhando:

In [109]:
serie_notas.max()

np.int32(92)

In [110]:
serie_notas.min()

np.int32(0)

In [111]:
serie_notas.median()

np.float64(53.0)

In [116]:
serie_notas.sum()

np.int64(1465)

In [112]:
serie_notas.quantile(0.25)

np.float64(22.5)

In [113]:
serie_notas.quantile(0.75)

np.float64(70.5)

In [114]:
serie_notas.quantile(0.1)

np.float64(8.8)

In [117]:
serie_notas.describe()

count    30.000000
mean     48.833333
std      29.362283
min       0.000000
25%      22.500000
50%      53.000000
75%      70.500000
max      92.000000
dtype: float64

In [118]:
serie_notas.describe(percentiles=np.arange(0,1,0.1))

count    30.000000
mean     48.833333
std      29.362283
min       0.000000
0%        0.000000
10%       8.800000
20%      12.200000
30%      30.500000
40%      45.600000
50%      53.000000
60%      60.600000
70%      64.600000
80%      76.200000
90%      86.500000
max      92.000000
dtype: float64

##

## Exercícios

**1)** Cria uma série de pandas que tenha os números inteiros de 0 a 100.

**2)** Considere uma série de notas de alunos:
 
 notas = pd.Series([10, 8, 6.5, 9, 7.5, 8.5, 9, 9, 4, 8.5, 7.5,
                   8, 10, 10, 4.5, 4.5, 9, 8, 8, 9, 9, 9, 6.5,
                   5, 6, 4.5, 9, 10, 1, 0,5, 7, 9, 6.5, 5, 8])
                   
Determine:

**a)** A nota média

**b)** O desvio padrão

**c)** A moda

**d)** A mediana

In [128]:
notas = pd.Series([10, 8, 6.5, 9, 7.5, 8.5, 9, 9, 4, 8.5, 7.5,
                   8, 10, 10, 4.5, 4.5, 9, 8, 8, 9, 9, 9, 6.5,
                   5, 6, 4.5, 9, 10, 1, 0,5, 7, 9, 6.5, 5, 8])

media = notas.mean()
desvio = notas.std()
moda = notas.mode()[0]
mediana = notas.median()

print(f"A média das notas é: {media.round(2)}")
print(f"O desvio padrão das notas é: {desvio.round(2)}")
print(f"A moda das notas é: {moda}")
print(f"A mediana das notas é: {mediana.round(2)}")

A média das notas é: 7.19
O desvio padrão das notas é: 2.43
A moda das notas é: 9.0
A mediana das notas é: 8.0

In [123]:
notas.value_counts()

9.0     9
8.0     5
10.0    4
6.5     3
5.0     3
4.5     3
7.5     2
8.5     2
4.0     1
6.0     1
1.0     1
0.0     1
7.0     1
Name: count, dtype: int64

## DataFrame

__DataFrames__ assim como na mesma analogia para as matrizes, são um __conjunto de Series__ que vão ser bem caracterizados pelo o seu formato tabular (o que facilita muito o processo de manipulação dos dados!):

In [129]:
# Cria um dicionario com nomes de alunos e suas respectivas notas
dictionary = {'Alunos': ['Sandro', 'Rafael', 'Tiago', 'André', 'Camila', 'Teo', 'Carlos', 'Juca', 'Carla'],
              'Notas': [8, 10, 9.5, 7.5, 9.5, 10, 5, 6.5, 10]}

# Cria um DataFrame a partir de um dicionario
df = pd.DataFrame(dictionary)

# Mostra o resultado do DataFrame
df

   Alunos  Notas
0  Sandro    8.0
1  Rafael   10.0
2   Tiago    9.5
3   André    7.5
4  Camila    9.5
5     Teo   10.0
6  Carlos    5.0
7    Juca    6.5
8   Carla   10.0

Todo o processo que vimos sobre __indexação__ e __métodos__  para as Series são válidas também quando trabalhamos com __DataFrames:__

__Método loc:__ Este é um método especial para quando queremos acessar os elementos de um DataFrame, onde podemos acessar utilizando apenas os índices ou mesmo passando duas posições específicas:

## Máscaras Booleanas

Podemos fazer filtros no __DataFrame__ definindo como que para os arrays, as __máscaras booleanas:__

## Exercícios

### Para o Dataframe de Alunos utilizado

**1)** Encontre a nota média dos alunos

In [135]:
media_alunos = df["Notas"].mean().round(2)
print("A média dos alunos é:", media_alunos)

A média dos alunos é: 8.44

**2)** A nota do Juca

In [142]:
mask_juca = df["Alunos"] == "Juca"
df[mask_juca]

  Alunos  Notas
7   Juca    6.5

**3)** Os alunos com nota menor que 6.5

In [143]:
mask = df["Notas"] > 6.5
df[mask]

   Alunos  Notas
0  Sandro    8.0
1  Rafael   10.0
2   Tiago    9.5
3   André    7.5
4  Camila    9.5
5     Teo   10.0
8   Carla   10.0

**4)** Peça a descrição das notas para ter insights interessantes

In [145]:
df["Notas"].describe().round(2)

count     9.00
mean      8.44
std       1.81
min       5.00
25%       7.50
50%       9.50
75%      10.00
max      10.00
Name: Notas, dtype: float64

**5)** A moda das notas acima de 7

In [146]:
mask_maior_sete = df["Notas"] > 7
df[mask_maior_sete].mode()

   Alunos  Notas
0   André   10.0
1  Camila    NaN
2   Carla    NaN
3  Rafael    NaN
4  Sandro    NaN
5     Teo    NaN
6   Tiago    NaN

##

##

## Trabalhando com CSVs

O __Pandas__ tem algumas funcionalidades bem interessantes, como por exemplo permitir que carregue para o Notebook arquivos no formato csv, excel, xlsx e etc. Vamos ver uma aplicação como o CSV:

In [107]:
# Carrega um arquivo CSV
df = pd.read_csv('../datasets/titanic.csv')
## .. -> Sobe de pasta
## /<nome_da_pasta> entra na pasta

# Print do DataFrame
df

FileNotFoundError: [Errno 2] No such file or directory: '../datasets/titanic.csv'

[Neste Link](https://www.kaggle.com/c/titanic/data), conseguimos mais informações sobre a base de dados do Titanic! O Kaggle é uma plataforma muito conheciida no quesito de competições de Data Science e Machine Learning, além de disponibilizar diversos conjuntos de dados para treinarmos =)

Vamos testar alguns outros __métodos__ disponíveis para os DaataFrames:

__Método head/tail:__ São métodos muito importantes que mostram na tela as primeiras e últimas linhas respectivamente de um __DataFrame__:

##

## Exercícios

### Para o Dataframe do Titanic

**1)** Faça a leitura do Dataframe e mostre as 5 primeiras linhas

**2)** Calcule a tarifa média por Sexo

**3)** Determine o passageiro que pagou a maior tarifa

**4)** Determine a idade média dos sobreviventes

__5)__ Determinem a classe com mais sobreviventes proporcionalmente

## Desafio

1 - Escolha um dataset do [Kaggle](https://www.kaggle.com/), explore seus dados e traga uma informação interessante que você encontrou. Esta prática é bastante importante para familizariação com a exploração de dataframes

## Links, Artigos e Referências:

- [Documentação do Pandas](https://pandas.pydata.org/docs/), documentação onde vocês podem encontrar mais informações sobre os métodos e funções do Pandas e descobrir novos métodos que não foram apresentados no curso;
- ["10 Python Pandas Tricks that make your work more efficient",](https://towardsdatascience.com/10-python-pandas-tricks-that-make-your-work-more-efficient-2e8e483808ba) artigo escrito pelo Towards Data Science;
- ["28 useful Pandas functions you might not know"](https://paulovasconcellos.com.br/28-useful-pandas-functions-you-might-not-know-de42c59db085https://medium.com/@zachary.bedell/writing-beautiful-code-with-numpy-505f3b353174), artigo escrito por Paulo Vasconcellos para o Data Hackers;